.btn {
  height: 48px;
  width: 240px;
  border: none;
  border-radius: 4px;
  background-color: #333;
  color: #f6f6f6;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
