.about-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  gap: 72px;
}

.about-article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  gap: 32px;
}

.resume-edu {
  display: flex;
  justify-content: space-between;
}

.resume-work {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 32px;
}

.resume-skills {
  background-color: #ddd;
  padding: 32px;
  border-radius: 4px;
}

.resume-skills ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  row-gap: 32px;
}

.resume-skills li {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 160px;
}

.about-resume h2 {
  font-size: 14pt;
  background-color: #333;
  color: #eee;
  padding: 4px 8px;
  border-radius: 8px;
}

.cats {
  display: flex;
  justify-content: space-between;
}

.cat {
  height: 200px;
  width: 300px;
  object-fit: cover;
  border-radius: 4px;
  object-position: center top;
}

.about-page-link {
  color: #d18a8e;
}

.cat-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.cat-name {
  width: 100%;
  border-radius: 4px;
  padding: 4px;
  text-align: center;
  font-size: 10pt;
}

#sherlock-pic {
  object-position: center -120px;
}
#watson-pic {
  object-position: center -60px;
}
#puss-pic {
  object-position: center -20px;
}

#sherlock {
  background-color: #7e8bbb;
}

#watson {
  background-color: #e3c066;
}

#puss {
  background-color: #d18a8e;
}
