.hero-container {
  width: 920px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.hero-img {
  height: 600px;
  object-fit: cover;
  position: absolute;
  right: 0;
  pointer-events: none;
}

.hero-title {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.hero-top {
  display: flex;
  position: relative;
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.hero-paragraph {
  width: 600px;
}

.hero-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 700px;
}

.hero-bg {
  position: absolute;
  width: 60%;
  right: 0;
  height: 520px;
}
