.card-small {
  width: 400px;
  height: 200px;
  background-color: #ddd;
  padding: 24px;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  justify-content: space-between;
}

.card-tag {
  font-size: 18pt;
  width: 48px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  color: #ddd;
}

.card-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
