.home-about-link {
  text-decoration: none;
}

.home-about-title {
  background-color: #d18a8e;
  height: 64px;
  width: 920px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  box-shadow: 8px 8px 0px #d18a8eaa;
  color: #ddd;
  gap: 32px;
}
