.home-contact-title {
  background-color: #e3c066;
  height: 64px;
  width: 920px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  box-shadow: 8px 8px 0px #e3c066aa;
  color: #ddd;
  gap: 32px;
}

.home-contact-link {
  text-decoration: none;
}
