nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7D8BBB;

  padding: 0 32px;
  height: 48px;
  font-size: 14pt;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 920px;
}

.nav-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.link {
  color: #333;
  text-decoration: none;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 24px;
}

.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
