.about-edu-card {
  display: flex;
  flex-direction: column;
  background-color: #ddd;
  width: 440px;
  padding: 24px;
  border-radius: 8px;
}

.about-edu-card ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.about-edu-card li {
  display: flex;
  gap: 8px;
}
