.Footer {
  height: 48px;
  background-color: #e3c066;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

.footer-container {
  width: 920px;
  display: flex;
  justify-content: center;
  align-items: center;
}
