.page-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 72px;
  margin-top: 32px;
}

.home-divider {
  border: none;
  height: 4px;
  border-radius: 4px;
  width: 920px;
  background-color: #ccc;
}

.home-sections {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.home-divider-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-divider-small {
  border: none;
  height: 4px;
  border-radius: 4px;
  width: 600px;
  background-color: #ccc;
}
