.page-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-content {
  display: flex;
  flex-direction: column;
  gap: 88px;
  width: 920px;
  margin-top: 32px;
}

.contact-section {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.contact-section-header {
  display: flex;
  align-items: center;
}

.contact-section-icon {
  font-size: 56px;
  width: 64px;
}

.contact-section-content {
  text-align: justify;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.contact-form-top {
  display: flex;
  gap: 48px;
  justify-content: space-between;
}

.contact-form-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}

.contact-form-item input {
  height: 40px;
  padding: 8px;
  border: none;
  background-color: #ddd;
  border-radius: 4px;
}

.contact-form-message {
  width: 100%;
  padding: 8px;
  resize: none;
  border: none;
  background-color: #ddd;
  border-radius: 4px;
}

.contact-links {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 32px;
  column-gap: 32px;
}

.contact-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #333;
  background-color: #ddd;
  padding: 16px;
  border-radius: 4px;
}

.contact-link-icon {
  font-size: 40px;
}

.contact-info-item-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contact-info-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: #ddd;
  width: 300px;
  padding: 32px;
  border-radius: 4px;
}
