.page-content {
  height: 100%;
}

.text-light {
  font-weight: 300;
}

.text-large {
  font-size: 48pt;
}

.text-medium {
  font-size: 24pt;
}

.text-small {
  font-size: 14pt;
}

.page-section {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 920px;
}

.home-section-centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.home-icon-container {
  width: 920px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-icon-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #ddd;
  border-radius: 4px;
  padding: 16px;
  gap: 8px;
  width: 260px;
  height: 120px;
}

.home-icon {
  font-size: 32px;
}
